<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Project13-NTRJ-VoterApp</display-name>

	<welcome-file-list>
		<welcome-file>vote.html</welcome-file>
	</welcome-file-list>

<!-- configuration -->
	<servlet>
		<servlet-name>vote</servlet-name>
		<servlet-class>com.codewithakshay.VoterApp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>vote</servlet-name>
		<url-pattern>/voteUrl</url-pattern>
	</servlet-mapping>

</web-app>