<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Project15-NTRJ-Country-StateApp</display-name>
	<welcome-file-list>
		<welcome-file>Country-State.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>country-state</servlet-name>
		<servlet-class>com.codewithakshay.CountryStateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>country-state</servlet-name>
		<url-pattern>/countryUrl</url-pattern>
	</servlet-mapping>

</web-app>